.container .title {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .query-text {
    color: #387dff;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.movies-container div {
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
}

.movies-container div img {
    max-width: 100%;
}

.movies-container div p,
.movies-container div h2,
.movies-container div img {
    margin-bottom: 1rem;
}

.movies-container div svg {
    color: #f7d354;
}

.movies-container div a {
    background-color: #387dff;
    border: 2px solid #387dff;
    border-radius: 4px;
    color: #000;
    padding: 1rem 0.5rem;
    text-align: center;
    align-items: center;
    font-weight: bold;
    transition: .4s;
}

.movies-container div a:hover {
    background-color: transparent;
    color: #387dff;
}

@media screen and (max-width: 768px) {
    .movies-container div {
        width: 45%;
    }
}

@media screen and (max-width: 568px) {
    .movies-container {
        flex-direction: column;
        align-items: center;
    }

    .movies-container div {
        padding: 1rem;
        width: 70%;
    }
}

@media screen and (max-width: 438px) {
    .movies-container div {
        width: 70%;
    }
}

@media screen and (max-width: 280px) {


    .movies-container div {
        padding: 1rem;
        width: 75%;
    }
}