#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #121212;
}

#navbar h2 a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#navbar form {
    display: flex;
    gap: 0.5rem;
}

#navbar input {
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    border: none;
}

#navbar form button {
    background-color: #387dff;
    border: 2px solid #387dff;
    border-radius: 4px;
    color: #000;
    padding: .3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

#navbar form button:hover {
    background-color: transparent;
    color: #387dff;
}

@media screen and (max-width: 474px) {
    #navbar input {
        width: 150px;
        margin-left: 20px;
    }

    #navbar h2 a {
        width: 40px;
    }
}

@media screen and (max-width: 408px) {
    #navbar input {
        width: 125px;
    }

    #navbar h2 a {
        width: 20px;
    }
}

@media screen and (max-width: 378px) {
    #navbar input {
        width: 100px;
    }

    #navbar h2 a {
        width: 15px;
    }
}

@media screen and (max-width: 280px) {
    #navbar input {
        width: 160px;
    }

    #navbar h2 a {
        display: none;
    }
}